@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00243b;
  font-family: "Roboto", arial, sans-serif;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: relative;
}

h1 {
  font-family: "Fredoka", arial, sans-serif;
  font-weight: 500;
  font-size: 25px;
}
a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.conteneur {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../assets/img/animeboy.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 100px;
}

.site-name {
  font-family: "Fredoka", arial, sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.slogan {
  font-weight: 400;
  font-size: 25px;
  width: 600px;
}

.container {
  width: 1200px;
}

.menu-navigation {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  padding: 10px 100px;
}

.menu-items {
  display: flex;
  /* width: 400px;
  justify-content: space-between; */
  gap: 50px;
}

.menu-items a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu-items a:hover {
  opacity: 0.6;
  transition: 0.4s;
}
