@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLES */
:root {
  --couleurPrimaire: #00243b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0; */
  background-color: var(--couleurPrimaire);
  font-family: "Roboto", arial, sans-serif;
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

header {
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  margin: 50px 0;
  font-family: "Fredoka", arial, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

nav ul {
  list-style: none;
}

.conteneur {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../assets/img/animeboy.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 100px;
}

.logo img {
  width: 70px;
}

.site-name {
  font-family: "Fredoka", arial, sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

.slogan {
  font-weight: 400;
  font-size: 22px;
  width: 600px;
}

.container {
  width: 1320px;
}

.menu-navigation {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  padding: 10px 100px;
}

.menu-items {
  display: flex;
  /* width: 400px;
  justify-content: space-between; */
  gap: 50px;
}

.menu-items a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu-items a:hover {
  opacity: 0.6;
  transition: 0.4s;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 400px);
  justify-content: center;
  gap: 40px;
}

.card {
  /* width: 100px;
  height: 100px; */
  border: solid 1px white;
  border-radius: 5px;
}
